<h2>template:switches</h2>
<hr>

<form #miFormulario="ngForm">

    <!-- Radios-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input  class="form-check-input" 
                        type="radio" 
                        value="M"
                        name="radioGenero" 
                        [(ngModel)]="persona.genero"
                        id="radioMasculino"
                        required>
                <label class="form-check-label" for="radioMasculino">
                  Masculino
                </label>
              </div>
              <div class="form-check">
                <input  class="form-check-input" 
                        type="radio" 
                        value="F"
                        [(ngModel)]="persona.genero"
                        name="radioGenero" 
                        id="radioFemenino" 
                        required>
                <label class="form-check-label" for="radioFemenino">
                  Femenino
                </label>
              </div>
        </div>   
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch">
                <input class="form-check-input" 
                        type="checkbox"
                        [(ngModel)] =  "persona.notificaciones"
                        name="notificaciones"
                        role="switch" 
                        id="flexSwitchCheckChecked" 
                        checked>
                <label class="form-check-label" 
                        for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
              </div>
        </div>    
    </div>     

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input class="form-check-input" 
                    type="checkbox" 
                    name="terminos"
                    [(ngModel)] =  "terminosYCondiciones"
                    required
                    id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Terminos y condiciones
            </label>
        </div>    
    </div>     

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    [disabled]="miFormulario.invalid">
                Guardar
            </button>
        </div>
    </div>    
</form>   

<h4>Valor del formulario</h4>
<pre>{{miFormulario.value | json}}</pre>

<hr>

<h4>Persona</h4>
<pre>{{persona | json}}</pre>

<hr>

<h5>Valid: </h5>
<pre>{{miFormulario.valid}}</pre>

<hr>

<h5>Términos </h5>
<pre>{{miFormulario.controls?.terminos?.errors | json}}</pre>

<hr>
<pre>Condiciones</pre>