<h2>validaciones Reactivas</h2>
<hr>


<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">
                    Nombre
                </label>
                <div class="col-sm-9">
                    <input  type="text" 
                            class="form-control" 
                            formControlName="nombre"
                            placeholder="Nombre del usuario">

                    <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">
                        Debe de ser en formato de nombre y apellido
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">
                    Email
                </label>
                <div class="col-sm-9">
                    <input  type="text" 
                            class="form-control" 
                            formControlName="email"
                            placeholder="Email del usuario">

                            <span class="form-text text-danger" *ngIf="campoNoValido('email')">
                               {{emailErrorMsg}}
                            </span>
                        <!-- 
                            <span class="form-text text-danger" *ngIf="emailRequired()">
                              El correo es Obligatorio
                            </span>
                            <span class="form-text text-danger" *ngIf="emailFormato()">
                                El valor no tiene formato de correo
                              </span>
                              <span class="form-text text-danger" *ngIf="emailTomado()">
                                El correo electronico ya fue tomado
                              </span>
                            -->
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">
                    Username
                </label>
                <div class="col-sm-9">
                    <input  type="text" 
                            class="form-control" 
                            formControlName="username"
                            placeholder="Nombre código del usuario">

                    <span class="form-text text-danger">
                        Debe de ser Nombre código del usuario
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">
                    password
                </label>
                <div class="col-sm-9">
                    <input  type="password" 
                            class="form-control" 
                            formControlName="password"
                            placeholder="Password de su cuenta">

                    <span class="form-text text-danger" *ngIf="campoNoValido('password')">
                       La contraseñ debe de ser de 6 acaracteres
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">
                    confirmar
                </label>
                <div class="col-sm-9">
                    <input  type="password" 
                            class="form-control" 
                            formControlName="password2"
                            placeholder="Confirmar password">

                            <span class="form-text text-danger" *ngIf="campoNoValido('password2')">
                                La contraseñ debe de ser iguales
                             </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" type="submit" [disabled]="miFormulario.pending">
                            Crear
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>



<h2>Form Valid: {{miFormulario.valid}}</h2>
<h2>Form status: {{miFormulario.status}}</h2><!-- estatus son tres opciones valido, no valido y pendiente-->
<h2>Form pending: {{miFormulario.pending}}</h2>
<h2>Form Errors</h2>
<pre>{{miFormulario.errors | json}}</pre>


<h2>Nombre</h2>
<pre>{{miFormulario.controls.nombre.errors | json}}</pre>


<h2>Email</h2>
<pre>{{miFormulario.controls.email.errors | json}}</pre>

<h2>Username</h2>
<pre>{{miFormulario.controls.username.errors | json}}</pre>


<h2>Password</h2>
<pre>{{miFormulario.controls.password.errors | json}}</pre>

<h2>Password</h2>
<pre>{{miFormulario.controls.password2.errors | json}}</pre>